.options_panel--container {
  display: flex;
  max-width: 33rem;
  justify-content: center;
  flex-direction: column;
  animation: actionPanelSlideUp 0.8s ease-in forwards;
}

.options_panel--btn-group {
  padding: 0.5rem;
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
}

.options_panel--btn,
.options_panel--btn:focus {
  height: 3rem;
  background-color: var(--main-purple);
  border-color: var(--main-dark);
  color: var(--main-yellow);
}

.options_panel--btn:disabled {
  border-color: var(--main-dark);
  background-color: var(--main-worng);
  opacity: 1;
  color: var(--main-yellow);
}

.options_panel--btn:active {
  border-color: var(--main-dark) !important;
  background-color: var(--main-correct) !important;
  color: var(--main-yellow) !important;
}

.options_panel--btn:nth-child(9n) {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.options_panel--btn:nth-child(10),
.options_panel--btn:nth-child(19) {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.options_panel--btn:hover {
  background-color: rgba(33, 37, 41, 0.905);
  border-color: var(--main-yellow);
  color: var(--main-purple);
}

@keyframes actionPanelSlideUp {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
