.title_show--container {
  background-color: rgb(33, 37, 41);
  border: 2px solid var(--main-purple);
  border-radius: 10px;
  width: 70%;
  max-width: 26rem;
  display: flex;
  padding: 0.5rem;
  height: 3rem;
  margin-top: 0.3rem;
  justify-content: center;
  align-items: center;
  animation: titleShowSlide 0.8s ease-in forwards;
}

.title_show--title {
  margin: 0;
  animation: titleColor 1s ease-in-out infinite alternate-reverse;
}

@keyframes titleColor {
  from {
    color: var(--main-yellow);
    font-size: 0.9rem;
  }
  to {
    color: var(--main-purple);
    font-size: 1rem;
  }
}

@keyframes titleShowSlide {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* animation: name duration timing-function delay iteration-count direction fill-mode; */

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
