:root {
  --main-purple: #c170ff;
  --main-yellow: #fff9a6;
  --main-dark: #212529;
  --main-light: #faf9f6;
  --main-worng: #ff4c4c;
  --main-correct: #4cbb17;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: var(--main-light);
  font-family: "Ultra", serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: [row-1-start] 0.2fr [row-1-end row-2-start] 3fr [row-2-end row-3-start] 0.2fr [row-3-end];
}
